#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	# Hack to workaround a broken libMali which incorrectly reports
	# EGL_KHR_platform_x11 instead of EGL_EXT_platform_x11,
	# causing breakage in KWin
	sed -i 's,EGL_KHR_platform_x11,EGL_EXT_platform_x11,g' $(CURDIR)/x11/mali_libs/libMali.so

override_dh_auto_clean:
	sed -i 's,EGL_EXT_platform_x11,EGL_KHR_platform_x11,g' $(CURDIR)/x11/mali_libs/libMali.so
	dh_auto_clean

override_dh_install:
	dh_install
	echo "/usr/lib/$(DEB_HOST_MULTIARCH)/mali-egl" \
        > $(CURDIR)/debian/mali-x11/usr/lib/$(DEB_HOST_MULTIARCH)/mali-egl/ld.so.conf
	for file in debian/*.in; \
	do \
		sed -e"s,\$${DEB_HOST_MULTIARCH},$(DEB_HOST_MULTIARCH),g" \
			$${file} > $${file%%.in}; \
	done
	for file in debian/mali-x11-dev/usr/lib/arm-linux-gnueabihf/pkgconfig/*.pc; \
	do \
		sed -i -e"s,lib/arm-linux-gnueabihf,lib/arm-linux-gnueabihf/mali-egl,g" \
			$${file}; \
	done
